@import "mixins"

body
  padding: 0
  margin: 0

#sharing-button
  display: none

#sharing-result
  display: none
  position: absolute
  right: 10px
  top: 5px
  width: 140px

  .sharing_tags-buttons__icon
    width: 40px
    height: 40px
    background: center no-repeat
    background-size: contain
    transition: opacity 0.2s ease-in-out

    &:hover
      opacity: 0.5

  .sharing_tags-vkontakte__icon
    background-image: asset-data-url('share_vk.png')

  .sharing_tags-facebook__icon
    background-image: asset-data-url('share_fb.png')

  .sharing_tags-twitter__icon
    background-image: asset-data-url('share_tw.png')

#content
  position: absolute
  top: 0
  width: 100%
  height: 100%
  font-family: "Open Sans"
  overflow-y: hidden
  background-color: #f4eb66

  #logo
    position: absolute
    top: 50px
    left: 50%
    transform: translateX(-50%)
    width: 110px
    height: 130px
    background: center top no-repeat asset-data-url('logo.png')
    transform-origin: left top

    #logo-text
      display: inline-block
      position: absolute
      bottom: 0
      font-size: 21px
      font-weight: 600
      line-height: 28px
      color: #000

  #viewport
    position: absolute
    display: none
    width: 100%
    height: calc(100% - 32px)
    top: 50px

  #viewport-iframe
    border: none
    width: 100%
    height: 100%

  #form-wrapper
    position: absolute
    height: 120px
    width: 80%
    top: 38%
    left: 10%

    #form-title
      display: inline-block
      width: 100%
      position: absolute
      top: 0
      left: 0
      text-align: center
      font-family: 'PT Serif'
      font-weight: bold
      font-size: 35px
      line-height: 46px

    #form
      position: absolute
      height: 67px
      outline: 1px solid #cacaca
      border-radius: 5px
      width: 100%
      top: 65px
      margin: 0 auto
      left: 0
      right: 0
      overflow: hidden
      transition: outline 0.2s ease-in-out

      &.error
        #urlfield
          border: 1px solid red

      &:hover
        outline: 1px solid #aaa

      #button
        position: absolute
        height: 100%
        width: 166px
        right: 0
        background: #3a53cd
        text-align: center
        cursor: pointer
        color: #fff
        font-size: 14px
        font-weight: 600
        letter-spacing: 1px
        display: flex
        align-items: center
        justify-content: center
        transition: background-color 0.2s ease-in-out

        &:hover
          background-color: #3248b2

      #urlfield
        position: absolute
        box-sizing: border-box
        padding-left: 20px
        left: 0
        height: 100%
        border: none
        font-size: 20px
        font-family: "Open Sans"
        color: #4d4d4d
        width: calc(100% - 166px)

        &:focus
          border: none
          outline: none

      &.loader
        background: rgba(50, 50, 50, 0.2)
        pointer-events: none

        #urlfield
          background: 99% center no-repeat asset-data-url('loader.svg')
          background-size: auto 80%

    &.error
      border: 1px solid red

    #suggest
      position: absolute
      top: 155px
      margin: 0 auto
      left: 0
      right: 0
      width: auto
      font-size: 12px
      display: flex
      align-items: center
      justify-content: center

      #suggest-title
        display: inline-block
        padding: 5px

      .suggest-button
        display: inline-block
        margin-left: 10px
        padding: 5px 10px
        border: 1px solid #d5d264
        cursor: pointer
        border-radius: 3px
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out

        &:hover
          background-color: #000
          color: #fff

#content.transient
  #viewport
    display: block
    background: center no-repeat asset-data-url('loader.svg')
    background-size: 10% 10%

  #logo
    animation-name: move-logo
    animation-duration: 0.6s
    animation-timing-function: ease-out
    animation-play-state: running
    animation-fill-mode: forwards

    #logo-text
      animation-name: move-logo-text
      animation-duration: 0.6s
      animation-timing-function: ease-out
      animation-play-state: running
      animation-fill-mode: forwards

  #form-wrapper
    z-index: 1
    animation-name: move-form-wrapper
    animation-duration: 0.6s
    animation-timing-function: ease-out
    animation-play-state: running
    animation-fill-mode: forwards

    #form-title
      animation-name: move-form-title
      animation-duration: 0.6s
      animation-timing-function: ease-out
      animation-play-state: running
      animation-fill-mode: forwards

    #form
      animation-name: move-form
      animation-duration: 0.6s
      animation-timing-function: ease-out
      animation-play-state: running
      animation-fill-mode: forwards

      #button
        animation-name: move-button
        animation-duration: 0.6s
        animation-timing-function: ease-out
        animation-play-state: running
        animation-fill-mode: forwards

      #urlfield
        animation-name: move-urlfield
        animation-duration: 0.6s
        animation-timing-function: ease-out
        animation-play-state: running
        animation-fill-mode: forwards

    #suggest
      animation-name: move-suggest
      animation-duration: 0.6s
      animation-timing-function: ease-out
      animation-play-state: running
      animation-fill-mode: forwards

#content.result
  #sharing-result
    display: block
    
  #logo
    top: 5px
    left: 10px
    transform: scale(0.4)

    #logo-text
      display: none

  #form-wrapper
    top: 10px
    left: 60px
    width: calc(100% - 230px)

    #form-title
      display: none

    #form
      top: 0
      height: 30px

      #button
        width: 120px

      #urlfield
        width: calc(100% - 120px)

    #suggest
      display: none

  #viewport
    display: block
    background: center no-repeat asset-data-url('loader.svg')
    background-size: 10% 10%

@keyframes move-logo
  100%
    top: 5px
    left: 10px
    transform: scale(0.4)

@keyframes move-logo-text
  99%
    opacity: 0
  100%
    opacity: 0
    display: none

@keyframes move-form-wrapper
  100%
    top: 10px
    left: 60px
    width: calc(100% - 230px)
@keyframes move-form-title
  50%
    opacity: 0
  100%
    opacity: 0
    display: none

@keyframes move-form
  100%
    top: 0
    height: 30px

@keyframes move-button
  100%
    width: 120px

@keyframes move-urlfield
  100%
    width: calc(100% - 120px)

@keyframes move-suggest
  99%
    opacity: 0
  100%
    opacity: 0
    top: 50px
    display: none
